Relative Importance data:
https://www.bls.gov/cpi/tables/relative-importance/home.htm#Archived%20Relative%20Importance%20Data

Steps:

0. Write scraper for relative importance data
1. Use non-seasonally adjusted data
2. Use monthly % change
3. Weight each sub-component (ensure not to double count sub-components & sub-sub-components). Total should be 100%
4. Sum of components should equal total CPI-U inflation

Reminder -- Series IDs are construced following these rules:

|Data Element			|Length		|Reference				|Values		|Default|
|-----------------------|-----------|-----------------------|-----------|-------|
|CU						|2			|						|CU			|CU|
|Seasonal Adjustment	|1			|cu.seasonal.txt		|(S, U)		|U|
|Periodicity			|1			|cu.periodicity.txt		|(R, S)		|R|
|Area					|4			|cu.area.txt			|see file	|0000|
|Item					|varies		|cu.item.txt			|see file	|SAO|

In [1]:
import pandas as pd

In [2]:
items_df = pd.read_table('data/cu.item.txt')
items_df.columns = [x.strip() for x in items_df.columns]

### "First" Level of subcomponents

In [7]:
items_df[items_df.display_level==1].sort_values(by='sort_sequence')

,item_code,item_name,display_level,selectable,sort_sequence
31,SAF1,Food,1,T,4
47,SAH1,Shelter,1,T,137
48,SAH2,Fuels and utilities,1,T,145
50,SAH3,Household furnishings and operations,1,T,156
15,SAA1,Men's and boys' apparel,1,T,188
...,...,...,...,...,...
74,SATCLTB,Transportation commodities less motor fuel,1,T,394
68,SAS4,Transportation services,1,T,395
65,SAS24,Utilities and public transportation,1,T,396
272,SERAC,Video and audio products,1,T,397
273,SERAS,Video and audio services,1,T,398